extends layout

block content
  h1= title
  p Path package: It provides a way of working with directories and file paths.
  p Cookie Parser: It is a middleware to parse cookies attached to the client request object.
  p express.json():It is a built-in middleware in Express. It parses incoming requests with JSON payloads.It returns an Object.
  p express.urlencoded({extended: false}):It is also a body parser similar to express.json() but It is for html post form even expres.json() for post request except html post form.
  p cookieParser is a function requires from cookie-parser package.It is used to parse the cookies that are attached to the request made by the client to the server.
  p path.join(__dirname, 'public'): It creates an absolute path, using the directory where app.js is located as the base.